<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="">
<th:block layout:fragment="script">
    <script th:src="@{/js/admin/question/read.js}"></script>
</th:block>
<body>
<div layout:fragment="content">
    <div class="text-end mb-3" style="margin-left: auto">
        <button type="button" class="btn btn-l btn-primary" onclick="location.href='/admin/question/create'"><strong>생성하기</strong></button>
    </div>
    <div class="card">
        <h5 class="card-header">리스트</h5>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-nowrap">이름</th>
                    <th class="text-nowrap">타입</th>
                    <th>질문</th>
                    <th>옵션</th>
                    <th class="text-nowrap">정답</th>
                    <th class="text-nowrap">액션</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0" id="questionTBody">

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>