<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="">
<th:block layout:fragment="script">
    <script th:src="@{/js/admin/gifticon/read.js}"></script>
</th:block>
<body>
<div layout:fragment="content">
    <div class="card mb-4">
        <h5 class="card-header">검색 조건</h5>
        <div class="card-body">
            <div class="row">
                <label for="emailSearch" class="form-label">이메일 검색</label>
                <input type="text" class="form-control" id="emailSearch" placeholder="aa@aaa.com"
                       aria-describedby="defaultFormControlHelp">
            </div>

            <div class="row gy-3">
                <div class="col-md">
                    <small class="col-form-label fw-semibold d-block">보냄 여부</small>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="all" id="isSendAll" checked>
                        <label class="form-check-label" for="isSendAll"> 전체 </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input isSend" type="checkbox" value="true" id="isSendTrue" checked>
                        <label class="form-check-label" for="isSendTrue"> 완료 </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input isSend" type="checkbox" value="false" id="isSendFalse" checked>
                        <label class="form-check-label" for="isSendFalse"> 미완료 </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-end mb-3" style="margin-left: auto">
        <button type="button" class="btn btn-l btn-primary" id="searchBtn"><strong>검색하기</strong></button>
    </div>

    <div class="card">
        <h5 class="card-header">리스트</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>유저 이메일</th>
                    <th>상품 이름</th>
                    <th>보냄 여부</th>
                    <th>정보</th>
                    <th>보내기</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0" id="gifticonTBody">

                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-3">
        <!-- Modal 1-->
        <div class="modal fade" id="sendModalToggle" aria-labelledby="sendModalToggleLabel" tabindex="-1"
             style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sendModalToggleLabel">기프티콘 보내기</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col">
                            <label for="modalUserEmail" class="col-form-label">유저 이메일</label>
                            <div>
                                <input class="form-control" type="text" id="modalUserEmail" readonly>
                            </div>
                        </div>
                        <div class="col">
                            <label for="modalName" class="col-form-label">상품 이름</label>
                            <div>
                                <input class="form-control" type="text" id="modalName" readonly>
                            </div>
                        </div>
                        <div class="col">
                            <label for="modalNumber" class="col-form-label">기프티콘 넘버</label>
                            <div>
                                <input class="form-control" type="text" id="modalNumber">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            <strong>닫기</strong>
                        </button>
                        <button type="button" class="btn btn-primary" id="modalSendBtn"><strong>전송</strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>